---
const { vieMagnesio } = Astro.props;
---

<article id={vieMagnesio} class="hidden">
  <h2 class="m-6 text-2xl md:text-3xl font-semibold">
    Correcciones de Magnesio
  </h2>
  <form action="">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-4 p-2">
      <div
        class="flex flex-col gap-2 p-2 mb-8 border-2 rounded-xl border-red-400 md:col-span-3"
      >
        <div class="flex items-center justify-between gap-2">
          <h2 class="text-xl text-red-700 font-bold">
            Dosis Pediátrica Permitida
          </h2>
          <p class="text-3xl">⚠️</p>
        </div>
        <span class="text-md font-medium text-gray-00 text-balance"
          >Ampolla 25% de sulfato de magnesio = 2 meq de magnesio/ ml
          concentración de administración: 0,5 meq de magnesio/ ml
        </span>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-gray-400 font-medium" for="peso"> Peso....Kg </label>
        <div class="flex flex-col gap-1">
          <input
            class="rounded-md border-2 border-gray-400 p-2"
            type="number"
            id="peso"
            name="peso"
            placeholder="Ingreso el peso del paciente"
            min="1"
            required
          />
          <span class="error text-red-500" id="error-message-peso"></span>
        </div>
      </div>

      <div class="flex flex-col gap-2">
        <label class="text-gray-500 font-semibold" for="correccionMagnesio">
          Correccion a .... meq/kg
        </label>
        <input
          class="rounded-md border-2 border-gray-400 p-2"
          type="number"
          id="correccionMagnesio"
          name="correccionMagnesio"
          placeholder="Ingrese un valor"
          required
          min="1"
        />
        <span class="error text-red-600 font-bold" id="error-message-magnesio"
        ></span>
      </div>

      <div class="flex flex-col gap-2 justify-center">
        <label class="text-gray-500 font-semibold" for="correccionMagnesio">
          Corresponde a .... meq/dosis
        </label>
        <label class="py-2 border-2 border-gray-300 rounded-md" for="meqDosis">
          <span class="text-gray-600 font-medium px-4" id="meqDosis">0</span>
        </label>
      </div>

      <div
        class="mt-10 flex flex-col items-center justify-center gap-2 md:col-span-3"
      >
        <h3 class="text-xl text-gray-800 font-medium">
          <span class="p-1 text-center"
            >Indicaciones Medicas de Sulfato de Magnesio</span
          >
        </h3>
        <p
          class="mt-4 text-md font-medium border-2 border-red-400 rounded-md p-2"
        >
          ⚠️ Incompatible con calcio, bicarbonato, Incompatible con fosfatos
          excepto en soluciones diluidas
        </p>
      </div>

      <div class="mt-4 flex flex-col gap-2">
        <label class="text-gray-400 font-medium"> Tomar: </label>
        <span class="border-2 border-gray-400 p-2 rounded-md" id="tomar">0</span
        >
      </div>
      <div class="mt-4 flex flex-col gap-2">
        <label class="text-gray-500 font-semibold"> Llevar a: .... ml </label>
        <span class="border-2 border-gray-400 p-2 rounded-md" id="preparar"
          >0</span
        >
      </div>
      <div class="mt-4 flex flex-col gap-2">
        <label class="text-gray-500 font-semibold px-2">
          Preparar con...
        </label>
        <select class="border-2 border-gray-400 p-2 rounded-md" id="opcion">
          <option value="0" disabled selected>Seleccione una opción</option>
          <option value="1">Dextrosa al 5%</option>
          <option value="2">Solución fisiológica</option>
        </select>
      </div>
    </div>

    <div
      class="mt-4 flex flex-col gap-2 border-2 rounded-xl border-red-400 p-4 md:col-span-3"
    >
      <h4 class="text-gray-600 text-2xl font-bold">Administar: 💉​</h4>
      <p class="py-2 text-2xl text-gray-950 fotn-bold" id="administrar">0</p>
    </div>
  </form>
</article>

<script>
  const inputPeso = document.getElementById("peso")!;
  const magnesioContent = document.getElementById("magnesio-content")!;
  const fosforoContent = document.getElementById("fosforo-content")!;
  // const btnMagnesio = document.getElementById("btn-magnesio")!;
  // const btnFosforo = document.getElementById("btn-fosforo")!;
  const meqdosis = document.getElementById("meqDosis")!;
  const inputMagnesio = document.getElementById("correccionMagnesio")!;
  const errorPeso = document.getElementById("error-message-peso")!;
  const errorMagnesio = document.getElementById("error-message-magnesio")!;
  const tomar = document.getElementById("tomar")!;
  const preparar = document.getElementById("preparar")!;
  const administrar = document.getElementById("administrar")!;

  magnesioContent?.classList.remove("hidden");

  inputMagnesio?.addEventListener("input", () => {
    const valor = inputMagnesio?.value;
    const peso = inputPeso?.value;

    if (isNaN(valor) || valor > 16) {
      errorMagnesio.textContent = "Dosis max. permitida: 16 meq/kg";
      meqdosis.textContent = "0";
      tomar.textContent = "0";
      preparar.textContent = "0";
      return;
    } else {
      errorMagnesio.textContent = "";
    }

    if (isNaN(peso) || peso <= 0) {
      errorPeso.textContent = "Debe ingresar un peso válido";
      meqdosis.textContent = "0";
      tomar.textContent = "0";
      preparar.textContent = "0";
      return;
    } else {
      errorPeso.textContent = "";
    }

    const meqDosisValor = peso * valor;
    meqdosis.textContent = `${meqDosisValor} meq/dosis`;

    const tomarMedicacion = meqDosisValor / 2;
    tomar.textContent = `${tomarMedicacion} ML de la ampolla al 25%`;

    const prepararMedicacion = (2 * tomarMedicacion) / 0.5;
    preparar.textContent = `${prepararMedicacion} ml con`;

    const administrarMedicacion = prepararMedicacion / 4;
    administrar.textContent = `${administrarMedicacion} ml/hs - no superar 1 meq/kg/hs`;
  });
</script>
